<%- include('../partials/head') %>

	
		<!-- 	D E S K T O P   -->
		<%- include('../partials/header') %>
		<body>
		<section id="productsFilterSection" class="productsFilterSection">
			<div id="productsFilter" class="productsFilter">
				<div class="filterTitle">Filtrar:</div>
				<div class="filterNav" id="filterNav">
					<a href="#" class="filterTile">Categorias</a>
					<a href="#" class="filterTile">Precio</a>
					<a href="#" class="filterTile">En Oferta</a>
				</div>
			</div>
		</section>

		<section id="productsList" class="productsList">
			<div class="prodListResultsContainer">
			
				

				<% for(product of products){ %> 
					<a href="/products/<%= product.id %> " class="elegidoTile">
						<div class="elegidoTileImage">
							<img
								src="/images/Products/<%=product.image%> "
								alt=""
								class="prodImage"
							/>
							<div class="elegidoTileTitle"><%= product.name %> </div>
						</div>
						<div class="elegidoInfoCard">
							<div class="elegidoTileDescription">
								<%= product.description %> 
							</div>
							<div class="elegidoTilePrice">$ <%= product.price %> </div>
						</div>
					</a>

				<% } %> 

				
			</div>
		</section>
		<%- include('../partials/footer') %>
	</body>
</html>
