<%- include('../partials/head') %>


	<%- include('../partials/header') %>

	<body>
		<main>
			<div>
				<div>
					<span>
						<a class="icono_go_back" href="#"
							><i class="fas fa-long-arrow-alt-left fa-lg"></i
						></a>
					</span>
				</div>
				<section class="createEditFormSection">
					<h1 class="formTitle">Edición de Producto</h1>

					<form action="products/edit" method="POST" class="createEditForm" enctype="multipart/form-data">
						<div class="formRegisterPadding">
							<label for="“name”">Nombre:</label>
							<input
								type="text"
								name="name"
								id="name"
								required
								class="regAndLogInputs"
								value="<%= productToEdit.name %> "
							/>
						</div>

						<div class="formRegisterPadding">
							<label for="description">Precio:</label>
							<input
								type="text"
								rows="4"
								cols="50"
								name="precio"
								id="precio"
								value="<%= productToEdit.price %> "
								class="regAndLogInputs"
							/>
						</div>

						<div class="formRegisterPadding">
							<label for="discount">Descuento%:</label>
							<input
								type="number"
								name="discount"
								id="discount"
								class="regAndLogInputs"
								value=<%= productToEdit.discount %>
							/>
						</div>

						<div class="formRegisterPadding">
							<label for="image">Imagen:</label>
							<input type="file" name="image" id="image" />
							
						</div>
						<img src="/images/products/<%= productToEdit.image %> " style="max-width: 20%">

						<div class="formRegisterPadding">
							<label for="image">Categoría:</label>

							<select name="category" id="category" class="regAndLogInputs">
								<option value="gaming"
								<% if(productToEdit.category=='gaming'){  %> 
									<%= "selected" %> 
								<% } %> 
								>
								Gaming</option>
								<option value="mate"
								<% if(productToEdit.category=='mate'){  %> 
									<%= "selected" %> 
								<% } %> 
								>Mate</option>
								<option value="cerveza" 
								<% if(productToEdit.category=='cerveza'){  %> 
									<%= "selected" %> 
								<% } %> 
								>Cerveza</option>
								<option value="musica"
								<% if(productToEdit.category=='musica'){  %> 
									<%= "selected" %> 
								<% } %> 
								>Musica</option>
								<option value="gourmet"
								<% if(productToEdit.category=='gourmet'){  %> 
									<%= "selected" %> 
								<% } %> 
								>Gourmet</option>
								<option value="deportes"
								<% if(productToEdit.category=='deportes'){  %> 
									<%= "selected" %> 
								<% } %> 
								>Deportes</option>
								<option value="vino"
								<% if(productToEdit.category=='vino'){  %> 
									<%= "selected" %> 
								<% } %> 
								>Vino</option>
								<option value="otros"
								<% if(productToEdit.category=='otros'){  %> 
									<%= "selected" %> 
								<% } %> 
								>Otros</option>
							</select>
						</div>

						<div class="formRegisterPadding">
							<label for="stock">Stock:</label>
							<input
								type="number"
								name="stock"
								id="stock"
								class="regAndLogInputs"
								value=<%= productToEdit.stock %>
							/>
						</div>

						<div class="formRegisterPadding">
							<label for="masvendido">Más vendido</label>
							<input
								type="checkbox"
								name="masvendido"
								id="masvendido"
								class="regAndLogInputs"
								<% if(productToEdit.bestSeller){ %> 
									<%= "checked" %> 
								<% } %> 
							/>
						</div>

						<div class="formRegisterPadding">
							<label for="description">Descripción:</label>
							<textarea
								rows="4"
								cols="50"
								name="description"
								id="description"
								class="regAndLogInputs"
							><%= productToEdit.description %>
						</textarea>
						</div>

						<button class="formButton" type="“submit”">Guardar</button>
					</form>

					

				</section>
			</div>
		</main>

		<%- include('../partials/footer') %>
	</body>
</html>
