<%- include('../partials/head') %> <%- include('../partials/header') %>
<html>
	<body>
		<div class="tuCarritoBanner">
			<div>
				<a href="#" id="back_button"
					><i class="fas fa-long-arrow-alt-left"></i
				></a>
			</div>
			<div class="sectionTitle" id="tuCarritoHeader">Tu Producto</div>
		</div>

		<main class="prodDetailMain">
			<div id="prodDetailLeft" class="prodDetailLeft">
				<!-- PRUEBA -->

				<div
					id="productsCarousel"
					class="carousel carousel-dark slide"
					data-bs-ride="carousel"
				>
					<div class="carousel-inner">
						<!-- primera imagen tiene que tener clase activa -->
						<div class="carousel-item active">
							<img
								src="/images/products/<%=theProduct.Images[0].file_name%>"
								alt=""
								class="d-block w-100"
								alt="..."
							/>
						</div>
						<!-- fin primera imagen -->

						<!-- SACAR PRIMER ELEMENTO DEL ARRAY -->
						<% theProduct.Images.shift(); %>

						<!-- resto de imagenes -->
						<% for(image of theProduct.Images){ %>
						<div class="carousel-item">
							<img
								src="/images/products/<%=image.file_name%>"
								class="d-block w-100"
								alt="..."
							/>
						</div>
						<% } %>
						<!-- FIN RESTO IMAGENES -->
					</div>

					<!-- BOTONES -->
					<button
						class="carousel-control-prev"
						type="button"
						data-bs-target="#productsCarousel"
						data-bs-slide="prev"
						style="z-index: 0"
					>
						<span class="carousel-control-prev-icon" aria-hidden="true"></span>
						<span class="visually-hidden">Previous</span>
					</button>
					<button
						class="carousel-control-next"
						type="button"
						data-bs-target="#productsCarousel"
						data-bs-slide="next"
						style="z-index: 0"
					>
						<span class="carousel-control-next-icon" aria-hidden="true"></span>
						<span class="visually-hidden">Next</span>
					</button>
				</div>

				<!-- FIN PRUEBA -->
			</div>

			<div id="prodDetailRight" class="prodDetailRight">
				<div class="prodDetailTitle"><%=theProduct.name %></div>
				<div class="prodDetailDescription"><%=theProduct.description %></div>
				<div class="prodDetailPrice">$<%=theProduct.price %></div>
				<a class="prodDetailRightButtons" href="#">Comprar</a>
				<div class="prodDetailFormsCointainer">
					<form action="/products/<%=theProduct.id%>/edit" method="get">
						<button
							id="prodEditButton"
							class="prodDetailRightButtons"
							type="submit"
						>
							Editar
						</button>
					</form>
					<form
						method="POST"
						action="/products/<%=theProduct.id%> /delete/?_method=DELETE"
					>
						<button
							id="prodDeleteButton"
							class="prodDetailRightButtons"
							type="submit"
						>
							Eliminar
						</button>
					</form>
				</div>
			</div>
		</main>

		<%- include('../partials/footer') %>
		<script
			src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
			integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
			crossorigin="anonymous"
		></script>
		<script src="/javascripts/history.js"></script>
	</body>
</html>
