<%- include('../partials/head') %>

	<%- include('../partials/header') %>

	<body>
		<main class="prodDetailMain">
			<div id="prodDetailLeft" class="prodDetailLeft">
				<div class="prodDetailImgContainer">
					<img src="/images/products/<%=theProduct.image%>" alt="" />
				</div>
			</div>
			<div id="prodDetailRight" class="prodDetailRight">
				<div class="prodDetailTitle"><%=theProduct.name %></div>
				<div class="prodDetailDescription"><%=theProduct.description %></div>
				<div class="prodDetailPrice">$<%=theProduct.price %></div>
				<a  class="prodDetailRightButtons"href="#">Comprar</a>
				<div class="prodDetailFormsCointainer">
					<form action="" method="get">
						<button id="prodEditButton" class="prodDetailRightButtons" type="submit">Editar</button>
					</form>
					<form
						method="POST"
						action="/products/<%=theProduct.id%> /delete/?_method=DELETE"
					>
						<button id="prodDeleteButton" class="prodDetailRightButtons" type="submit">Eliminar</button>
					</form>
				</div>
					
				
			</div>
		</main>

		<%- include('../partials/footer') %>
	</body>
</html>
