<%- include('../partials/head') %>
<%- include('../partials/header') %>
<script src="/javascripts/history.js"></script>

	<body>
		<main>
			<div>
				<div>
					<span>
						<a id="back_button" class="icono_go_back" href="#"
							><i class="fas fa-long-arrow-alt-left fa-lg"></i
						></a>
					</span>
				</div>
				<section class="createEditFormSection">
					<h1 class="formTitle">Edición de Producto</h1>

					<form method="POST" action="/products/<%= productToEdit.id %> /edit?_method=PUT" class="createEditForm" enctype="multipart/form-data">
						<div class="formRegisterPadding">
							<label for="“name”">Nombre:</label>
							<input
								type="text"
								name="name"
								id="name"
								required
								class="regAndLogInputs"
								value="<%= productToEdit.name %> "
							/>
						</div>

						<div class="formRegisterPadding">
							<label for="price">Precio:</label>
							<input
								type="text"
								rows="4"
								cols="50"
								name="price"
								id="precio"
								value="<%= productToEdit.price %> "
								class="regAndLogInputs"
							/>
						</div>

						<div class="formRegisterPadding">
							<label for="discount">Descuento%:</label>
							<input
								type="number"
								name="discount"
								id="discount"
								class="regAndLogInputs"
								value=<%= productToEdit.discount %>
							/>
						</div>

						<div class="formRegisterPadding">
							<label for="image">Imagen:</label>
							<input type="file" name="image" id="image" multiple="multiple"/>
							
						</div>
						

						<% for(image of productToEdit.Images){ %> 
							<img src="/images/products/<%=image.file_name%>" alt="" style="max-width: 20%">
						<% } %> 

						<div class="formRegisterPadding">
							<label for="image">Categoría:</label>

							<select name="category" id="category" class="regAndLogInputs">
								<% for (category of categories){ %> 
									<% if(category.id == productToEdit.category_id){  %>
										<option value=<%= category.id %> selected>  <%= category.name %>
									<% }else{ %>  
										<option value=<%= category.id %> >  <%= category.name %>
									<% } %> 
								<% } %> 
							</select>
						</div>

						<div class="formRegisterPadding">
							<label for="stock">Stock:</label>
							<input
								type="number"
								name="stock"
								id="stock"
								class="regAndLogInputs"
								value=<%= productToEdit.stock %>
							/>
						</div>

						<div class="formRegisterPadding">
							<label for="bestSeller">Más vendido</label>
							<input
								type="checkbox"
								name="bestSeller"
								id="bestSeller"
								class="regAndLogInputs"
								<% if(productToEdit.best_seller){ %> 
									<%= "checked" %> 
								<% } %> 
							/>
						</div>

						<div class="formRegisterPadding">
							<label for="description">Descripción:</label>
							<textarea
								rows="4"
								cols="50"
								name="description"
								id="description"
								class="regAndLogInputs"
							><%= productToEdit.description %>
						</textarea>
						</div>

						<button class="formButton" type="“submit”">Guardar</button>
					</form>

					

				</section>
			</div>
		</main>

		<%- include('../partials/footer') %>
	</body>
</html>
