<%- include('../partials/head') %>
<%- include('../partials/header') %>
<script src="/javascripts/history.js"></script>
		<body>
		<section id="productsFilterSection" class="productsFilterSection">

					

			<div id="productsFilter" class="productsFilter">
				<a class="icono_go_back" href="#" id="back_button"><i class="fas fa-long-arrow-alt-left fa-lg"></i></a>
				<div class="filterTitle">Filtrar:</div>
				<div class="filterNav" id="filterNav">
					<a href="#" class="filterTile">Categorias</a>
					<a href="#" class="filterTile">Precio</a>
					<a href="#" class="filterTile">En Oferta</a>
				</div>
			</div>
		</section>

		<section id="productsList" class="productsList">
			<div class="prodListResultsContainer">
			
				
				<a href="/products/create " class="elegidoTile">
					<div class="elegidoTileImage">
						<img
							src="/images/add2.png"
							alt=""
							class="prodImage"
						/>
						<!-- <div class="elegidoTileTitle"> </div> -->
					</div>
					<div class="elegidoInfoCard">
						<div class="elegidoTileDescription">
						<p style="text-align: center;">Añadir</p>
						<p style="text-align: center;">producto</p>
						</div>
						<div class="elegidoTilePrice"> </div>
					</div>
				</a>

				<% for(product of products){ %> 
					<a href="/products/<%= product.id %> " class="elegidoTile">
						<div class="elegidoTileImage">
							<img
								src="/images/Products/<%=product.Images[0].file_name%> "
								alt=""
								class="prodImage"
							/>
							<div class="elegidoTileTitle"><%= product.name %> </div>
						</div>
						<div class="elegidoInfoCard">
							<div class="elegidoTileDescription">
								<%= product.description %> 
							</div>
							<div class="elegidoTilePrice">$ <%= product.price %> </div>
						</div>
					</a>

				<% } %> 

				
			</div>
		</section>
		<%- include('../partials/footer') %>
	</body>
</html>
