<%- include('../partials/head') %>
<%- include('../partials/header') %>
<script src="/javascripts/history.js"></script>

	<body>
		<div class="tuCarritoBanner">
			<div><a href="#" id="back_button"><i class="fas fa-long-arrow-alt-left"></i></a></div>
			<div class="sectionTitle" id="tuCarritoHeader">Tu Producto</div>
		</div>



		<main class="prodDetailMain">
			
			<div id="prodDetailLeft" class="prodDetailLeft">
				<!-- SPLIDE -->
				<div class="splide" data-splide='{"type":"loop"}'>
					<div class="splide__track">
						<ul class="splide__list">
							<% for(image of theProduct.Images){ %> 
								<li class="splide__slide"><img src="/images/products/<%=image.file_name%>" alt=""></li>
							<% } %> 
		
						</ul>
					</div>
				</div> 
				<!-- FIN SPLIDE -->

			</div>
			<div id="prodDetailRight" class="prodDetailRight">
				
				<div class="prodDetailTitle"><%=theProduct.name %></div>
				<div class="prodDetailDescription"><%=theProduct.description %></div>
				<div class="prodDetailPrice">$<%=theProduct.price %></div>
				<a  class="prodDetailRightButtons"href="#">Comprar</a>
				<div class="prodDetailFormsCointainer">
					<form action="/products/<%=theProduct.id%>/edit" method="get">
						<button id="prodEditButton" class="prodDetailRightButtons" type="submit">Editar</button>
					</form>
					<form
						method="POST"
						action="/products/<%=theProduct.id%> /delete/?_method=DELETE"
					>
						<button id="prodDeleteButton" class="prodDetailRightButtons" type="submit">Eliminar</button>
					</form>
				</div>
					
				
			</div>
		</main>

		<%- include('../partials/footer') %>
		<script src="https://cdn.jsdelivr.net/npm/@splidejs/splide@latest/dist/js/splide.min.js"></script>
		<script>
			new Splide( '.splide' ).mount();
		</script>

	</body>
</html>
