<%- include('./partials/head') %>
<html>
	<%- include('./partials/header') %>
	<body>
		<main>
			<!--******  C A T E G O R I A S  *******-->
			<section id="homeCategorias">
				<div class="sectionHeader">
					<div class="sectionTitle">Categorías.</div>
					<div class="sectionVerMas"><a href="/products">Ver más</a></div>
				</div>

				<div class="tilesSlider">
					<a href="/products?category=1" class="categoryTile catGaming">
						<div class="categoryTileTitle">Gaming</div>
					</a>

					<a href="/products?category=2" class="categoryTile catMate">
						<div class="categoryTileTitle">Mate</div>
					</a>

					<a href="/products?category=3" class="categoryTile catBeer">
						<div class="categoryTileTitle">Birra</div>
					</a>

					<a href="/products?category=4" class="categoryTile catMusic">
						<div class="categoryTileTitle">Musica</div>
					</a>

					<a href="products?category=5" class="categoryTile catBajon">
						<div class="categoryTileTitle">Bajon</div>
					</a>

					<a href="/products?category=6" class="categoryTile catSports">
						<div class="categoryTileTitle">Deportes</div>
					</a>
				</div>
			</section>
			<!-- ********************ELEGIDOS********************** -->
			<section id="homeElegidos">
				<div class="sectionHeader">
					<div class="sectionTitle">Los más elegidos.</div>
					<div class="sectionVerMas">
						<a href="/products">Ver todos los boxes</a>
					</div>
				</div>

				<div class="container cardsCointainer" id="homeElegidos">
					<div
						class="row d-flex justify-content-around"
						style="margin-bottom: 20px"
					>
						<% for(product of elegidos){ %>
						<div class="col cardColumn">
							<div class="card" style="width: 16rem; height: 100%">
								<img
									src="/images/Products/<%= product.Images[0].file_name%>"
									class="card-img-top prodImage"
									alt="..."
								/>
								<div class="card-body">
									<h5 class="card-title"><%= product.name %></h5>
									<p class="card-title"><%= product.description %></p>

									<p class="card-text" style="font-weight: bold">
										$<%= product.price %>
									</p>
								</div>
								<div
									class="card-footer"
									style="background: none; border-top: none"
								>
									<a href="/products/<%= product.id %>" class="btn btn-primary"
										>Ver</a
									>
									<a href="#" class="btn btn-primary">Comprar</a>
								</div>
							</div>
						</div>
						<% } %>
					</div>
				</div>
			</section>
		</main>
	</body>
	<%- include('./partials/footer') %>
	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
		crossorigin="anonymous"
	></script>
</html>
