<%- include('./partials/head') %>
		<%- include('./partials/header') %>

		<main>
			<!--******  C A T E G O R I A S  *******-->
			<section class="categorias" id="homeCategorias">
				<div class="sectionHeader">
					<div class="sectionTitle">Categorías.</div>
					<div class="sectionVerMas"><a href="/products">Ver más</a></div>
				</div>

				<div class="tilesSlider">
					<div class="tilesSliderArrow">
						<a href="#"><i class="fas fa-chevron-left"></i></a>
					</div>

					<a href="/products/gaming" class="categoryTile catGaming">
						<div class="categoryTileTitle">Gaming</div>
					</a>

					<a href="/products/mate" class="categoryTile catMate">
						<div class="categoryTileTitle">Mate</div>
					</a>

					<a href="/products/cerveza" class="categoryTile catBeer">
						<div class="categoryTileTitle">Birra</div>
					</a>

					<a href="/products/music" class="categoryTile catMusic">
						<div class="categoryTileTitle">Musica</div>
					</a>

					<a href="products/gourmet" class="categoryTile catBajon">
						<div class="categoryTileTitle">Bajon</div>
					</a>

					<a href="/products/sports" class="categoryTile catSports">
						<div class="categoryTileTitle">Deportes</div>
					</a>

					<div class="tilesSliderArrow">
						<a href="#"><i class="fas fa-chevron-right"></i></a>
					</div>
				</div>
			</section>

			<!-- ********************ELEGIDOS********************** -->
			<section class="homeElegidos" id="homeElegidos">
				<div class="sectionHeader">
					<div class="sectionTitle">Los más elegidos.</div>
					<div class="sectionVerMas">
						<a href="/products">Ver todos los boxes</a>
					</div>
				</div>

				<div class="elegidosSlider">
					<div class="tilesSliderArrow">
						<a href="#"><i class="fas fa-chevron-left"></i></a>
					</div>

					<% for(product of elegidos){ %> 
						<a href="/products/<%= product.id %> " class="elegidoTile">
							<div class="elegidoTileImage">
								<img
									src="/images/Products/<%=product.image%> "
									alt=""
									class="prodImage"
								/>
								<div class="elegidoTileTitle"><%= product.name %> </div>
							</div>
							<div class="elegidoInfoCard">
								<div class="elegidoTileDescription">
									<%= product.description %> 
								</div>
								<div class="elegidoTilePrice">$ <%= product.price %> </div>
							</div>
						</a>
	
					<% } %> 

					

					<div class="tilesSliderArrow">
						<a href="#"><i class="fas fa-chevron-right"></i></a>
					</div>
				</div>
			</section>

			<section class="bottomTilesSection" id="bottomTilesSection">
				<a href="#" class="bottomTile" id="mediosPago">
					<div>
						<i class="far fa-credit-card"></i>
					</div>
					<div>Ver medios de pago</div>
					<div>
						<i class="fas fa-chevron-right"></i>
					</div>
				</a>

				<a href="#" class="bottomTile" id="ayuda">
					<div><i class="fas fa-question-circle"></i></div>
					<div>Necesitás ayuda? Escribinos</div>
					<div>
						<i class="fas fa-chevron-right"></i>
					</div>
				</a>

				
				


			</section>
		</main>

		<footer><%- include('./partials/footer') %></footer>
	</body>
</html>
