<%- include('../partials/head') %> <%- include('../partials/header') %>
<script src="/javascripts/history.js"></script>
<html>
	<body>
		<!-- SEARCH -->

		<div class="container" style="margin-top: 100px; width: 80%">
			<div class="row">
				<div class="col">
					<div class="input-group">
						<input
							type="text"
							class="form-control"
							aria-label=""
							placeholder="Buscar por nombre, apellido รณ user name"
							aria-describedby="basic-addon1"
						/>
						<div class="input-group-append">
							<button class="btn btn-success" type="button">Buscar</button>
						</div>
					</div>
				</div>
				<div class="col">
					<a href="#" class="btn btn-primary">+ Crear Admin</a>
				</div>
			</div>
		</div>

		<div style="margin-top: 100px; width: 80%" class="container">
			<table class="table">
				<thead class="thead-dark">
					<tr>
						<th>#</th>
						<th>Nombre</th>
						<th>User</th>
						<th>Rol</th>
						<th>Accion</th>
					</tr>
				</thead>
				<tbody>
					<% for (user of users){ %>
					<tr>
						<th scope="row"><%= user.id %></th>
						<td><%= user.name+' '+user.lastname %></td>
						<td><%= user.email %></td>

						<% if(user.rol==10){ %>
						<td>Cliente</td>
						<% } %> <% if(user.rol==20){ %>
						<td>Admin</td>
						<% } %> <% if(user.rol==30){ %>
						<td>Superadmin</td>
						<% } %>

						<td>
							<a
								href="/Admin/users/<%= user.id %> "
								class="btn btn-primary btn-sm"
							>
								<i class="fas fa-info-circle"></i>
							</a>
							<a href="#" class="btn btn-secondary btn-sm">
								<i class="fas fa-edit"></i>
							</a>
							<a href="#" class="btn btn-danger btn-sm">
								<i class="fas fa-trash-alt"></i>
							</a>
						</td>
					</tr>
					<% } %>
				</tbody>
			</table>
		</div>
	</body>
</html>
